<%- include('partials/head')%>
  <body>
    <%- include('partials/navbar')%>
    <h1>The Home Page <%="helloworld".toUpperCase()%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem
      corrupti sit dolore tempora sed iste in provident voluptate, aliquam
      corporis nihil possimus incidunt ratione quos, eveniet aliquid reiciendis
      obcaecati.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem
      corrupti sit dolore tempora sed iste in provident voluptate, aliquam
      corporis nihil possimus incidunt ratione quos, eveniet aliquid reiciendis
      obcaecati.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem
      corrupti sit dolore tempora sed iste in provident voluptate, aliquam
      corporis nihil possimus incidunt ratione quos, eveniet aliquid reiciendis
      obcaecati.
    </p>
  </body>
</html>
