<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%="helloworld".toUpperCase()%></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem
      corrupti sit dolore tempora sed iste in provident voluptate, aliquam
      corporis nihil possimus incidunt ratione quos, eveniet aliquid reiciendis
      obcaecati.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem
      corrupti sit dolore tempora sed iste in provident voluptate, aliquam
      corporis nihil possimus incidunt ratione quos, eveniet aliquid reiciendis
      obcaecati.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi rem
      corrupti sit dolore tempora sed iste in provident voluptate, aliquam
      corporis nihil possimus incidunt ratione quos, eveniet aliquid reiciendis
      obcaecati.
    </p>
  </body>
</html>
